@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	background-attachment: scroll;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

#content_container {
	margin-left: auto;
	margin-right: auto;
	width: 1800px;
	height: 750px;
	background-attachment: scroll;
	background-image: url(../images/Untitled-4.png);
	background-repeat: no-repeat;
	background-position: right center;
}

#logo_container {
	height: 90px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#logo_image {
	width: 255px;
	height: 75px;
	margin-left: 10px;
	margin-top: 15px;
	float: left;
	background-image: url(../images/logo.gif);
}

#top_bar_black {
	width: 100%;
	height: 90px;
	background-color: #000000;
}

#nav_block {
	width: 400px;
	height: 90px;
	float: right;
}

h1 {
	text-align: right;
	color: black;
	font-family: Georgia, Times, serif;
	font-weight: normal;
}

h2 {
	text-align: center;
	color: black;
	font-size: 24pt;
	font-family: Georgia, Times, serif;
	font-weight: normal;
}

h2.rd {
	color: #a52a2a;
}

h2.gr {
	color: green;
}

h3 {
	text-align: center;
	color: black;
	font-size: 24pt;
	font-family: Georgia, Times, serif;
	font-weight: normal;
}

h5 {
	text-align: center;
}

p.alignRight {
	text-align: right;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 2px double black;
	background-position: center;
}

table.lang {
	margin-top: 40pt;
}

table.navigation {
	width: 100%;
	border: 0px black;
}

td.alignTop {
	valign: top;
}

td.alignMidle {
	valign: middle;
}

td.bord1px {
	border-bottom: 1px solid black;
}